* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    animation: appear 0.3s ease;
}
@keyframes appear {
    from {
        opacity: 0;
    }
}
.figma {
    width: 40px;
    position: absolute;
    z-index: 100;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    transition: transform 0.3s ease;
}
.figma:hover{
    transform: scale(1.15);
}
/* bloco 1 */
.laco-amarelow {
    background-image: url(./assets/laco-amarelo.svg);
    height: 787px;
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
    z-index: 1;
}
.logo {
    position: absolute;
    z-index: 5;
    padding-top: 70px;
    margin-left: 1135px;
}
.yellow-block {
    position: absolute;
    width: 850px;
    height: 787px;
    background-color: #FCFADE;
    border-radius: 0 27px 27px 0;
    z-index: 2;
}
.mote img{
    margin-top: 55px;
    margin-left: 420px;
    width: 250px;
}
.text1 {
    margin-top: 90px;
    margin-left: 420px;
    display: grid;
    gap: 41px;
    color: #313027;
}
.preciso {
    font-size: 60px;
    width: 280px;
}
.info {
    font-size: 17px;
    width: 282px;
    margin-left: 10px;
}
.texture {
    position: absolute;
    border-radius: 0 27px 27px 0;
    width: 850px;
    height: 787px;
    background-image: url(./assets/white-paper-texture.svg);
    z-index: 3;
    pointer-events: none;
}
.exclamation {
    position: absolute;
    width: 100%;
    height: 105%;
    background-image: url(./assets/exclamation.svg);
    z-index: 4;
    background-repeat: no-repeat;
    background-position: left top;
    pointer-events: none;
}
.exclamation3 {
    display: none;
}
.preto {
    display: none;
}
/* bloco 2 */
.bloco2 {
    position: absolute;
    background-image: url(./assets/black_image.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.text2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 170px;
    gap: 16px;
}
.salvar {
    color: #FFE400;
    width: 540px;
    font-size: 45px;
    text-align: center;
}
.vita {
    color: #FFFF;
    width: 776px;
    font-size: 33px;
    text-align: center;
}
.access {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}
.bloco2 button {
    width: 400px;
    height: 75px;
    background-color: black;
    border: 2.4px solid white;
    color: white;
    border-radius: 107px;
    font-size: 25px;
    transition: all 0.3s;
}
.bloco2 button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
/* bloco 3 */
.bloco3 {
    width: 100%;
    height: 634px;
    background-color: #FCFADE;
    position: relative;
    margin-top: 620px;
}
.exclamation2 {
    background-image: url(./assets/exclamation2.svg);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 800px;
    height: 323px;
    display: flex;
    margin-left: 80px;
}
.txt h1{
    font-size: 50px;
    color: #313027;
    margin-bottom: 47px;
    margin-left: 14px;
}
.txt p{
    font-size: 18px;
    font-weight: 600;
    color: #313027;
    width: 320px;
    margin-bottom: 47px;
    margin-left: 22px;
}
.txt button{
    padding: 23px 60px;
    background-color: #313027;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 76px;
    position: absolute;
    z-index: 7;
    transition: all 0.3s ease;
}
.txt button:hover{
    background-color: #FFE400;
    color: #313027;
    cursor: pointer;
}
.draw {
    margin-left: 90px;
}
.draw2 {
    display: none;
}
.texture1 {
    background-image: url(./assets/white-paper-texture-1.svg);
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
/* bloco 4 */
.bloco4 {
    background-color: #FFE400;
    width: 100%;
    height: 633px;
    position: relative;
    display: flex;
    justify-content: center;
}
.setembro {
    background-image: url(./assets/SETEMBRO_AMARELO.svg);
    width: 100%;
    height: 100%;
    position: absolute;
}
.texture2 {
    background-image: url(./assets/white-paper-texture-2.svg);
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.vida {
    color: #313027;
    font-size: 35px;
    margin-top: 90px;
    position: absolute;
}
.contacts {
    display: flex;
    gap: 13px;
    align-items: center;
    position: absolute;
    height: 100%;
}
.rectangle {
    background-color: #FEFDF3;
    border: 6px solid white;
    width: 280px;
    height: 230px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectext {
    color: #313027;
    width: 190px;
    height: 200px;
}
.rectext h1{
    font-size: 43px;
    margin-bottom: 10px;
}
.rectext h2{
    font-size: 23px;
    margin-bottom: 10px;
}
.rectext p{
    font-size: 16px;
    line-height: 25px;
}
/* bloco 5 */
.bloco5 {
    background-image: url(./assets/KV.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.bloco5 img{
    margin-bottom: 27px;
    width: 110px;
}


@media (max-width: 600px) {
    .laco-amarelow {
        display: none;
    }
    .yellow-block {
        position: relative;
        width: 100%;
        height: 527px;
        border-radius: 0px;
    }
    .logo {
        display: none;
    }
    .text1 {
        position: absolute;
        z-index: 2;
        margin-top: 58px;
        margin-left: 37px;
        display: grid;
        gap: 42px;
    }
    .preciso {
        font-size: 45px;
        width: 209px;
    }
    .info {
        font-size: 17px;
        width: 282px;
        margin-left: 10px;
    }
    .mote img{
        margin-top: 48px;
        margin-left: 37px;
        width: 118px;
    }
    .exclamation {
        display: none;
    }
    .exclamation3 {
        display: block;
        position: absolute;
        margin: 0;
        width: 100%;
        height: 98%;
        background-image: url(./assets/exclamation3.svg);
        z-index: 1;
        background-repeat: no-repeat;
        background-position: right top;
    }
    .preto {
        display: block;
        position: absolute;
        z-index: 5;
        width: 55px;
        padding-top: 60px;
        margin-left: 280px;
    }
    .texture {
        display: none;
    }
    .texture3 {
        position: absolute;
        border-radius: 0px;
        background-image: url(./assets/white-paper-texture.svg);
        margin: 0;
        width: 100%;
        height: 100%;
        z-index: 60;
        pointer-events: none;
        background-repeat: no-repeat;
        background-position: right top;
    }
    .bloco2 {
        position: absolute;
        background-image: url(./assets/M-black_image.svg);
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
    .text2 {
        margin-top: 90px;
        gap: 22px;
    }
    .salvar {
        width: 305px;
        line-height: 35px;
        font-size: 25px;
    }
    .vita {
        width: 283px;
        font-size: 12px;
    }
    .access {
        margin-top: 40px;
    }
    .bloco2 button {
        width: 240px;
        height: 40px;
        border: 1px solid white;
        border-radius: 107px;
        font-size: 12px;
    }
    .bloco3 {
        height: 683px;
        margin-top: 398px;
    }
    .exclamation2 {
        background-image: url(./assets/exclamation4.svg);
        position: absolute;
        z-index: 1;
    }
    .container {
        width: 290px;
        height: 523px;
        margin-left: 0px;
        position: absolute;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .txt h1{
        font-size: 43px;
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .txt p{
        width: 290px;
        margin-bottom: 69px;
        margin-left: 0px;
    }
    .txt button{
        padding: 15px 30px;
        font-size: 12px;
        margin-left: 27px;
        background-color: #1a1a14;
    }
    .draw {
        display: none;
    }
    .draw2 {
        display: block;
        width: 164px;
        margin-top: 130px;
    }
    .texture1 {
        display: none;
    }
    .texture4 {
        background-image: url(./assets/white-paper-texture-3.svg);
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 3;
    }
    .bloco4 {
        width: 100%;
        height: 645px;
    }
    .setembro {
        background-image: url(./assets/SETEMBRO-AMARELO-1.svg);
    }
    .texture2 {
        background-image: url(./assets/white-paper-texture-4.svg);
        position: absolute;
        z-index: 4;
        pointer-events: none;
    }
    .vida {
        font-size: 30px;
        margin-top: 80px;
        width: 264px;
        text-align: center;
    }
    .vida span{
        font-weight: 900;
    }
    .contacts {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        align-items: center;
        position: absolute;
        height: 366px;
        width: 320px;
        margin-top: 200px;
    }
    .rectangle {
        width: 155px;
        height: 175px;
    }
    .rectext {
        width: 124px;
        height: 200px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .rectext h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .rectext h2{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .rectext p{
        font-size: 10.6px;
        line-height: 20px;
    }
    .bloco5 {
        background-image: url(./assets/KV2.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
    }
    .bloco5 img{
        margin-bottom: 32px;
        width: 85px;
    }
}
