* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    animation: appear 0.3s ease;
}
@keyframes appear {
    from {
        opacity: 0;
    }
}
.figma {
    width: 40px;
    position: absolute;
    z-index: 100;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    transition: transform 0.3s ease;
}
.figma:hover{
    transform: scale(1.15);
}
/* bloco 1 */
.laco-amarelow {
    background-image: url(./assets/laco-amarelo.svg);
    height: 787px;
    background-repeat: no-repeat;
    background-position: right top;
    position: relative;
    z-index: 1;
}
.logo {
    position: absolute;
    z-index: 5;
    padding-top: 70px;
    margin-left: 1135px;
}
.yellow-block {
    position: absolute;
    width: 850px;
    height: 787px;
    background-color: #FCFADE;
    border-radius: 0 27px 27px 0;
    z-index: 2;
}
.mote img{
    margin-top: 55px;
    margin-left: 420px;
    width: 250px;
}
.text1 {
    margin-top: 90px;
    margin-left: 420px;
    display: grid;
    gap: 41px;
    color: #313027;
}
.preciso {
    font-size: 60px;
    width: 280px;
}
.info {
    font-size: 17px;
    width: 282px;
    margin-left: 10px;
}
.texture {
    position: absolute;
    border-radius: 0 27px 27px 0;
    width: 850px;
    height: 100%;
    background-image: url(./assets/white-paper-texture.svg);
    z-index: 3;
    pointer-events: none;
}
.exclamation {
    position: absolute;
    width: 100%;
    height: 98%;
    background-image: url(./assets/exclamation.svg);
    z-index: 4;
    background-repeat: no-repeat;
    background-position: left top;
    pointer-events: none;
}
/* bloco 2 */
.bloco2 {
    position: absolute;
    background-image: url(./assets/black_image.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.text2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 170px;
    gap: 16px;
}
.salvar {
    color: #FFE400;
    width: 540px;
    font-size: 45px;
    text-align: center;
}
.vita {
    color: #FFFF;
    width: 776px;
    font-size: 33px;
    text-align: center;
}
.access {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}
.bloco2 button {
    width: 400px;
    height: 75px;
    background-color: black;
    border: 2.4px solid white;
    color: white;
    border-radius: 107px;
    font-size: 25px;
    transition: all 0.3s;
}
.bloco2 button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
/* bloco 3 */
.bloco3 {
    width: 100%;
    height: 634px;
    background-color: #FCFADE;
    position: relative;
    margin-top: 620px;
}
.exclamation2 {
    background-image: url(./assets/exclamation2.svg);
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}
.flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 800px;
    height: 323px;
    display: flex;
    margin-left: 80px;
}
.txt h1{
    font-size: 50px;
    color: #313027;
    margin-bottom: 47px;
    margin-left: 14px;
}
.txt p{
    font-size: 18px;
    font-weight: 600;
    color: #313027;
    width: 320px;
    margin-bottom: 47px;
    margin-left: 22px;
}
.txt button{
    padding: 23px 60px;
    background-color: #313027;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 76px;
    position: absolute;
    z-index: 7;
    transition: all 0.3s ease;
}
.txt button:hover{
    background-color: #FFE400;
    color: #313027;
    cursor: pointer;
}
.draw {
    margin-left: 90px;
}
.texture1 {
    background-image: url(./assets/white-paper-texture-1.svg);
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
/* bloco 4 */
.bloco4 {
    background-color: #FFE400;
    width: 100%;
    height: 633px;
    position: relative;
    display: flex;
    justify-content: center;
}
.setembro {
    background-image: url(./assets/SETEMBRO_AMARELO.svg);
    width: 100%;
    height: 100%;
    position: absolute;
}
.texture2 {
    background-image: url(./assets/white-paper-texture-2.svg);
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.vida {
    color: #313027;
    font-size: 35px;
    margin-top: 90px;
    position: absolute;
}
.contacts {
    display: flex;
    gap: 13px;
    align-items: center;
    position: absolute;
    height: 100%;
}
.rectangle {
    background-color: #FEFDF3;
    border: 6px solid white;
    width: 280px;
    height: 230px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectext {
    color: #313027;
    width: 190px;
    height: 200px;
}
.rectext h1{
    font-size: 43px;
    margin-bottom: 10px;
}
.rectext h2{
    font-size: 23px;
    margin-bottom: 10px;
}
.rectext p{
    font-size: 16px;
    line-height: 25px;
}
/* bloco 5 */
.bloco5 {
    background-image: url(./assets/KV.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 99vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.bloco5 img{
    margin-bottom: 27px;
    width: 110px;
}


@media (max-width: 600px) {
    .laco-amarelow {
        display: none;
    }
    .yellow-block {
        position: relative;
        width: 392px;
    }
}
